<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wishing App</title>
</head>
<body>
    <h1>Welcome! Sign in to manage your jobs!</h1>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        <h3>Register</h3>
        <form action="/register" method="POST">
        {% csrf_token %}
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" required>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" required>
            <label for="email">Email</label>
            <input type="text" name="email" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <label for="confirm_password">Confirm PW</P></label>
            <input type="password" name="confirm_password" required>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
    <div>
        <h1>Login</h1>
        <form action="/login" method ="POST">
        {% csrf_token %}
            <label for="email">Email</label>
            <input type="text" name="email" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
</body>
</html>